.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("../../public/images/2.jpg") no-repeat center center fixed;
  background-size: cover;
}


.signup-container {
  background: #000000;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  border: solid 0.5px rgb(255, 255, 255);
  opacity: 0.7;
}

.signup-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #ff6600;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.signup-btn {
  background-color: #ff6600;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.signup-btn:hover {
  background-color: #e05500;
}

.login-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-link a {
  color: #ff6600;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}